body {
  font-family: helvetica, ubuntu, sans-serif;
}

#header {
  margin-bottom: -40px;
}

#header h1 {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  color: rgb(110,80,80);
}

#header .logo {
  margin-left: 15px;
  margin-bottom: -20px;
  margin-top: 5px;
}

#header #add-repo {
  vertical-align: top;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(120,180,30);
  border-radius: 5px;
  border-width: 0px;
  padding: 15px;
  color: white;
}

#header #add-repo:hover {
  background-color: rgb(180,230,30);
  color: rgb(120,180,30);
}

#repos {
  background-color: rgb(252,245,255);
  min-height: 400px;
}

.repo {
  position: relative;
  background-color: rgb(250,240,255);
  margin-bottom: 4px;
}

.repo.dark {
  background-color: rgb(220,200,235);
}

.repo .gravatar {
  display: inline-block;
  margin-left: 4px;
  margin-top: 4px;
}

.repo .info {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 10px;
}

.repo .job {
  
}

.results {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 1px solid purple;
  width: 400px;
}

.results .result {
  width: 40px;
  border: 1px solid orange;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

#browsers {
  text-align: right;
  margin-right: 10px;
}

#browsers img {
  width: 40px;
  margin-left: 5px;
}
